<%- include('partials/_header') %>

<main id="app">

  <nav-bar></nav-bar>

  <div class="valign-wrapper row">
    <div class="col card hoverable s10 offset-s1">
      <div class="card-content">
        <router-view></router-view>
      </div>
    </div>
  </div>

</main>

<%- include('partials/_footer') %>
