<%- include('partials/_header') %>

<div class="valign-wrapper row">
  <div class="col card hoverable s12 m8 offset-m2">
    <div class="card-content">
      <h3 class="center-align">Room <span id="room-id"></span></h3>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/room.js"></script>

<%- include('partials/_footer') %>
