
    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          Version 1.0
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/uppy.min.js"></script>
    <script type="text/javascript" src="/js/simplepeer.min.js"></script>
    <script type="text/javascript" src="/js/simple-multi-peer.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-router.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/vue-socket.io-ext.min.js"></script>
    <script type="text/javascript" src="/js/date_fns.min.js"></script>
    <script type="text/javascript" src="/js/clipboard.min.js"></script>

    <script type="text/javascript" src="/js/globals.js"></script>
    <script type="text/javascript" src="/js/webrtc-upload.js"></script>
    <script type="text/javascript" src="/js/page-index.js"></script>
    <script type="text/javascript" src="/js/page-room.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

  </body>
</html>
