
    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          Version 1.0
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="/js/materialize.min.js"></script>
  </body>
</html>
